## Data Types and Structures Assignment

# Data Types and Structures Questions

1. What are data structures, and why are they important?

  Data structures are organized ways to store and manage data so it can be accessed and modified efficiently.
  They are important because they:
  - Provide efficiency in data storage and retrieval.
  - Optimize memory usage.
  - Help in solving complex problems (e.g., graphs, trees).
  - Form the foundation of algorithms and system design.
2. Explain the difference between mutable and immutable data types with examples.

  - Mutable: Can be changed after creation. Example: list = [1, 2, 3]; list[0] = 10 → [10, 2, 3].
  - Immutable: Cannot be changed once created. Example: string = 'hello'; string[0] = 'H' ❌ (Error).

3. What are the main differences between lists and tuples in Python?

  - List: Mutable, defined with [], slower, suitable for frequent changes.
  - Tuple: Immutable, defined with (), faster, ensures data integrity.
4. Describe how dictionaries store data.

  Dictionaries store data in key-value pairs using hashing.
  Each key is unique, and it maps to a value. Example: {"name": "Alice", "age": 25}.
5. Why might you use a set instead of a list in Python?
  - To remove duplicates automatically.
  - To perform fast set operations (union, intersection).
  - Faster membership checking (in operator).
6. What is a string in Python, and how is it different from a list?
  - String: Sequence of characters, immutable.
  - List: Sequence of elements (numbers, strings, objects), mutable.
7. How do tuples ensure data integrity in Python?

  Tuples are immutable → once created, values cannot change. This prevents accidental modifications.
8. What is a hash table, and how does it relate to dictionaries in Python?

  - Hash Table: Data structure that stores items by computing a hash code of keys.
  - Dictionary in Python is implemented using a hash table for fast key lookups.
9. Can lists contain different data types in Python?

  Yes. Example: [1, 'hello', 3.14, True] → contains int, str, float, and bool.
10. Explain why strings are immutable in Python.

  - Strings are immutable to ensure security, efficiency, and caching.
  - Reassigning creates a new object instead of modifying the old one.

11. What advantages do dictionaries offer over lists for certain tasks?

  - Faster lookups (O(1) vs O(n) in lists).
  - Key-based access instead of index-based.
  - Easier to model real-world objects (name–value pairs).
12. Describe a scenario where using a tuple would be preferable over a list.

  - When data should not change (e.g., coordinates (x, y), days of the week).
  - For use as keys in a dictionary (lists cannot be keys, but tuples can).
13. How do sets handle duplicate values in Python?

  Sets remove duplicates automatically.
  Example: set([1, 2, 2, 3]) → {1, 2, 3}.
14. How does the “in” keyword work differently for lists and dictionaries?

  - In lists: checks if an element exists. → 3 in [1,2,3] ✅
  - In dictionaries: checks if a key exists, not the value. → 'name' in {'name': 'Alice'} ✅
15. Can you modify the elements of a tuple? Explain why or why not.

  No, tuples are immutable. Once created, elements cannot be changed, added, or removed.
16. What is a nested dictionary, and give an example of its use case.

  A dictionary inside another dictionary.
  Example: student = {'name': 'Alice','marks': {'math': 90, 'science': 85}}.
17. Describe the time complexity of accessing elements in a dictionary.

  - Average case: O(1) (constant time).
  - Worst case: O(n) (when hash collisions occur).
18. In what situations are lists preferred over dictionaries?

  - When order matters.
  - When items are indexed by position.
  - When duplicate values are allowed.
19. Why are dictionaries considered unordered, and how does that affect data retrieval?

  - Before Python 3.7, dictionaries had no guaranteed order.
  - From Python 3.7+, insertion order is preserved, but still not meant for sequential indexing.
  - Retrieval is always key-based.
  
20. Explain the difference between a list and a dictionary in terms of data retrieval.

  - List: Access elements by index (list[0]).
  - Dictionary: Access elements by key (dict['name']).
  Dictionaries are faster for searching by key compared to lists.

## Practical Questions

1. Write a code to create a string with your name and print it

In [33]:
# Create a string with your name and print it
my_name = "Peter Bagchi"
print(my_name)

Peter Bagchi

2. Write a code to find the length of the string "Hello World"

In [34]:
# Find the length of the string "Hello World"
string_to_measure = "Hello World"
string_length = len(string_to_measure)
print(string_length)

11

3.Write a code to slice the first 3 characters from the string "Python Programming"

In [35]:
# Slice the first 3 characters from the string "Python Programming"
original_string = "Python Programming"
sliced_string = original_string[:3]
print(sliced_string)

Pyt

4.Write a code to convert the string "hello" to uppercase

In [36]:
# Convert the string "hello" to uppercase
lowercase_string = "hello"
uppercase_string = lowercase_string.upper()
print(uppercase_string)

HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [37]:
# Replace the word "apple" with "orange" in the string "I like apple"
sentence = "I like apple"
new_sentence = sentence.replace("apple", "orange")
print(new_sentence)

I like orange

6.Write a code to create a list with numbers 1 to 5 and print it

In [38]:
# Create a list with numbers 1 to 5 and print it
numbers_list = [1, 2, 3, 4, 5]
print(numbers_list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list[1, 2, 3, 4]

In [39]:
# Append the number 10 to the list [1, 2, 3, 4]
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [40]:
# Remove the number 3 from the list [1, 2, 3, 4, 5]
another_list = [1, 2, 3, 4, 5]
another_list.remove(3)
print(another_list)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [41]:
# Access the second element in the list ['a', 'b', 'c', 'd']
list_of_chars = ['a', 'b', 'c', 'd']
second_element = list_of_chars[1]
print(second_element)

b

10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [42]:
# Reverse the list [10, 20, 30, 40, 50]
list_to_reverse = [10, 20, 30, 40, 50]
list_to_reverse.reverse()
print(list_to_reverse)

[50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [43]:
# Create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [44]:
# Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
color_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = color_tuple[-2]
print(second_to_last)

blue

13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [45]:
# Find the minimum number in the tuple (10, 20, 5, 15).
numbers_tuple = (10, 20, 5, 15)
minimum_number = min(numbers_tuple)
print(minimum_number)

5

14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [46]:
# Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animal_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = animal_tuple.index("cat")
print(index_of_cat)

1

15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [47]:
# Create a tuple containing three different fruits and check if "kiwi" is in it.
fruit_tuple = ("apple", "banana", "orange")
is_kiwi_in_tuple = "kiwi" in fruit_tuple
print(is_kiwi_in_tuple)

False

16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [48]:
# Create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [49]:
# Clear all elements from the set {1, 2, 3, 4, 5}.
number_set = {1, 2, 3, 4, 5}
number_set.clear()
print(number_set)

set()

18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [50]:
# Remove the element 4 from the set {1, 2, 3, 4}.
set_to_modify = {1, 2, 3, 4}
set_to_modify.remove(4)
print(set_to_modify)

{1, 2, 3}

19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [51]:
# Find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set3 = {1, 2, 3}
set4 = {2, 3, 4}
intersection_set = set3.intersection(set4)
print(intersection_set)

{2, 3}

20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [52]:
# Find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [53]:
my_dictionary = {"name": "David", "age": 40, "city": "San Francisco"}
print(my_dictionary)

{'name': 'David', 'age': 40, 'city': 'San Francisco'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [54]:
existing_dict = {'name': 'John', 'age': 25}
existing_dict["country"] = "USA"
print(existing_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [55]:
another_dict = {'name': 'Alice', 'age': 30}
name_value = another_dict["name"]
print(name_value)

Alice


24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [56]:
dict_to_modify = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict_to_modify["age"]
print(dict_to_modify)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [57]:
check_dict = {'name': 'Alice', 'city': 'Paris'}
city_exists = "city" in check_dict
print(city_exists)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [58]:
my_list = [10, 20, 30]
my_tuple = ("apple", "banana", "cherry")
my_dictionary = {"key1": "value1", "key2": "value2"}

print(my_list)
print(my_tuple)
print(my_dictionary)

[10, 20, 30]
('apple', 'banana', 'cherry')
{'key1': 'value1', 'key2': 'value2'}


27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [59]:
import random

random_numbers_list = [random.randint(1, 100) for _ in range(5)]
random_numbers_list.sort()
print(random_numbers_list)

[27, 35, 74, 94, 96]

28. Write a code to create a list with strings and print the element at the third index.

In [60]:
string_list = ["red", "green", "blue", "yellow", "orange"]
third_element = string_list[2] # Index 2 is the third element
print(third_element)

blue

29. Write a code to combine two dictionaries into one and print the result.

In [61]:
dict_one = {"a": 1, "b": 2}
dict_two = {"c": 3, "d": 4}
combined_dictionary = {**dict_one, **dict_two}
print(combined_dictionary)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [62]:
list_of_strings = ["hello", "world", "hello", "python"]
set_of_strings = set(list_of_strings)
print(set_of_strings)

{'python', 'world', 'hello'}